@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* .outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101522;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }
  
  .container {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  .batman{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
  }
  .batman img{
    width: 200px;
    opacity: 0.7;
  }
 
  #loginForm{
    position: relative;
    z-index: 2;
    
  }
  @media screen and (max-width: 767px){
    .batman img{
      width: 200px;
    }
    .batman{
      bottom: 10px;
    }

  }
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    position: relative;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent !important;
  }
  .input-group span{
    position: absolute;
    right: 31px;
    top: 40px;
  }
  .input-group span i{
    font-size: 22px;
  }
  .error {
    color: red;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .hidden {
    display: none;
}
.show{
  display: block;
}