* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.hero {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.lift-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  align-self: flex-start;
  padding: 15px;
  border-right: #b9b9b9 1px solid;
  height: 100vh;
}
.logo {
  display: flex;
  gap: 6px;
}
.page {
  display: flex;
  gap: 6px;
  max-width: 171px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 8px;
  padding: 4px;
  transition: all ease 0.5s;
}
.page:hover {
  background-color: yellow;
}
.page a {
  color: black;
  width: 133px;
}
@media screen and (max-width: 767px) {
  .page {
    width: 90%;
  }
  .page a {
    font-size: 14px;
  }
}
.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
@media screen and (max-width: 767px){
  .mainContent{
    width: 100%;
  }
}
.salma {
  display: flex;
  text-align: center;
  width: 100%;
  height: 5vh;
  padding: 23px 15px 20px 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.salma input {
  width: 60px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #b9b9b9;
}
.productCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.card {
  width: 164px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.card-title {
  font-size: 15px;
}
.card-text {
  font-weight: 600;
  font-size: 17px;
}
.card-body .by {
  width: 80%;
}
/* cart */
.cartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.cartCont {
  border: 1px #9394d6 solid;
  border-radius: 11px;
  padding: 15px;
  margin: 5px;
  box-shadow: 2px 4px 14px 2px #888888;
}
.CartImg {
  height: 50px;
}
.cart-title{
  font-size: 14px;
}
@media screen and (max-width: 767px){
  .cart-title{
    font-size: 12px;
  }
}
td{
    border-bottom: none;
}
tr{
    border-bottom: 1px solid rgb(216, 216, 216);
}
.productCont {
  border: #2222 sold 1px;
}
.btn-quantity {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price{
    color: #dc3545;
}
.counter{
  margin-left: 5px;
  
}
.cart-product-amount{
  display: flex;
  gap: 12px;
}
.cart-product{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}
.img-product{
  display: flex;
  gap: 2rem;
  max-width: 210px;
}
/* swiper */
.swiperCont{
  width: 100%;
  overflow: hidden;
}
.swiper-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.swiper {
  width: 100%;
  /* height: 70vh; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper-wrapper{
  width: 93%;
  /* height: 100vh; */
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
@media screen and (max-width: 767px){
  .swiper-slide img{
    height: 43%;
  };
  .swiper {
    width: 100%;
    height: 60vh;
  };
  .mainContent {
    width: 86%;
}
}
/* swiper end */




