@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  
}
body, table td, .lift-sidebar, .card-body .page{
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  text-decoration: none;
  color: #9c9c9c;
}
i{
  margin-right: 8px;
}
.hero {
  display: flex;
  justify-content: flex-start !important;
  padding: 0;
}
.lift-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  align-self: flex-start;
  padding: 15px;
  height: 100vh;
}
@media screen and (max-width : 772px){
  .lift-sidebar{
    display: none;
  }
  }

  .show-sidebar {
    display: block;
   }


.logo {
  display: flex;
  gap: 6px;
}
.page {
  display: flex;
  gap: 6px;
  max-width: 171px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 8px;
  padding: 4px;
  transition: all ease 0.5s;
}
.page:hover {
  background-color: yellow;
}
.page a {
  color: black;
  width: 133px;
}
@media screen and (max-width: 767px) {
  .page {
    width: 90%;
  }
  .page a {
    font-size: 14px;
  }
}
.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.mainfood{
  background-image: url('./assets/image/mask_background.png');
  height: 400px;
  background-color: #1d2028;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.Hide-bar{
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #d3d0d0;
  width: 8px;
  border: none;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 40px;
}

.head-welcome{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  position: relative;
  z-index: 5;
}
.moving{
  position: absolute;
  font-size: 50px;
  top: 78px;
    left: 655px;
  z-index: 1;
}
.moving-1{
  position: absolute;
  font-size: 50px;
  top: 207px;
    left: 933px;
  z-index: 1;
}
.moving-2{
  position: absolute;
  font-size: 50px;
  top: 282px;
  left: 250px;
  z-index: 1;
}
.moving-3{
  position: absolute;
  font-size: 50px;
  top: 29px;
  left: 48px;
  z-index: 1;
}
.hola{
  position: relative;
  z-index: 5;
}
@media screen and (max-width : 772px){
  .Hide-bar{
    display: block;
  }
  *{
    width: 100%;
  }
}
.head-welcome h1{
  font-size: 40px;
}
.image-here{
  width: 300px;
}
@media screen and (max-width: 570px){
  .image-here{
    width: 180px;
  }
}
@media screen and (max-width: 767px){
  .head-welcome h1{
    font-size: 23px;
  }
}
@media screen and (max-width: 767px) {
  
  .hero {
    display: flex;
    justify-content: center !important;
  }
}
.control {
  display: flex;
  text-align: center;
  width: 100%;
  height: 5vh;
  padding: 23px 15px 20px 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.control input {
  width: 60px;
  
  border-radius: 8px;
  outline: none;
  border: 1px solid #b9b9b9;
}
@media screen and (max-width: 767px){
  .control input {
    width: 35px;
    height: 17px;
  }
}
.productCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.card {
  width: 164px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  padding: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.card-img-top {
  transition: all 0.5s ease;
}

.card-img-top:hover {
  transform: scale(0.8);
  rotate: 15deg;
}
.card-title {
  font-size: 15px;
}
.card-text {
  font-weight: 600;
  font-size: 17px;
}

/* cart */
.car-head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero-cart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.cartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}
.cartCont {
  border: 1px #9394d6 solid;
  border-radius: 11px;
  padding: 15px;
  margin: 5px;
  box-shadow: 2px 4px 14px 2px #888888;
}
.CartImg {
  height: 50px;
}
.cart-title {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .cart-title {
    font-size: 12px;
  }
  .btn-quantity{
    width: 10px;
    height: 10px;
  }
}

.table{
  padding: 0 !important;
  background-color: transparent;
}
td {
  border-bottom: none;
  background-color: transparent;
}
tr {
  background-color: transparent;
}
.productCont {
  border: #2222 sold 1px;
}
.btn-quantity {
  border: #888888 1px solid;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  color: #dc3545;
}
.counter {
 
  
}

.cart-product-amount {
  display: flex;
  gap: 1rem;
}
.cart-product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.img-product {
  display: flex;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
@media screen and (max-width: 767px){
  .btn{
    width: 60px;
    font-size: 10px;
  }
  .mainContent{
    margin: auto;
  }
}
/* swiper */
.swiperCont {
  width: 383px;
  overflow: hidden;
}
@media screen and (max-width: 767px){
  .swiperCont {
    width: 184px;
  }
}

.swiper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.swiper {
  width: 100%;
  /* height: 70vh; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.swiper-wrapper {
  width: 93%;
  /* height: 100vh; */
}
.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .swiper-slide img {
    height: 43%;
  }
  .swiper {
    width: 100%;
    height: 60vh;
  }
}
.removeAll{
  width: 120px;
}
/* swiper end */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 767px){
  .container{
    width: 100%;
  }
}
.chart-container {
  width: 400px;
  margin: 20px;
}
/* dashboard end */







 


























