@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --main-color:#ffca40;
    --secondary-color:#808080;
    --third-color: #f8f8f7;
}
button{
    outline: none;
    border: none;
}
.input{
    outline: none;
    border: none;
}
.side-nav{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 220px;
    border-right: 1px solid #747474;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    border-radius: 20px;
    width: 70%;
    padding: 20px 0;
    margin: auto;
    align-items: baseline;    
    justify-content: center;
}
.links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.links .page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
    margin: auto;
    align-items: baseline;    
    justify-content: flex-start;
    transition: all ease 0.5s;
}
.links .page:hover{
    background-color: var(--main-color);
}
.links .page i{
    margin-right: 5px;
}
.links .page a{
    text-decoration: none;
    color: black;
}
.links h3{
    color: #747474;
    width: 50%;
    margin: auto;
    font-size: 15px;
}
@media screen and (max-width : 570px) {
    .side-nav{
    width: 120px;
    }
    .logo span , .logo i{
        font-size: 12px;
    }
    .links .page{
        width: 100%;
    }
    .links .page i , .links .page a , .links h3{
        font-size: 9px;
    }
}
    /*hero section */
.hero{
    position: absolute;
    left: 220px;
    height: 100vh;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    justify-content: flex-start;
    flex-direction: row;
}
.hero button{
    padding: 5px 12px;
    border-radius: 12px;
}
.hero input{
    background-color: transparent;
    background-color: var(--third-color);
    border-radius: 7px;
    border: none;
    outline: none;
    max-width: 60px;
    color: var(--secondary-color);
}
.control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 0rem;
    margin-top: 12px;
    max-width: 66%;
    padding: 0 20px;
}
.control button{
    padding: 4px;
    width: 70px;
}
.serchInput{
    background-color: var(--third-color);
    padding: 5px 12px;
    border-radius: 12px;
   width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}
.serchInput input{
    width: 200px;
}
@media screen and (max-width : 570px){
    .hero{
        left: 120px;
    }
    .hero button{
        padding: 2px 7px;
        border-radius: 12px;
    }
    .hero input{
        background-color: transparent;
        background-color: var(--third-color);
        border: none;
        outline: none;
        color: var(--secondary-color);
        max-width: 66px;
    }
    .control{

    }
    .serchInput{

       max-width: 84px;

    }
    .serchInput input{
        max-width: 84px;
    }
}
@media screen and (max-width : 320px){
    .hero input{
        max-width: 26px;
    }
    .serchInput input{
        max-width: 44px;
    }
}
/* products */
.products{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding: 0px;
    margin: 0px;
    /* position: relative; */
    left: -33px;
}
.products .card{
    height: 294px;
    width: 176px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: -2.8rem;
    padding: 4px;
}
.products .card img{
    max-width: 122px;
    object-fit: cover;
}
@media screen and (max-width : 570px){
    .products{
        left: 2px;
    }
}
/* products end */

